@import "../../assets/mixin";
@import "../../assets/color";

$bg-color: transparent linear-gradient(90deg, #9f62c9 0%,$purple 100%) 0% 0% no-repeat padding-box;
.login-btn {
    @include getButton(none,$purple,118px,45px);
    // @include margin()
}
.start {
    @include getButton($bg-color,$purple,166px,45px);
}
.navbar {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 88%;
    @include margin(0 auto);
    @include padding(20px 0);
}
a {
    color: $light-black;
}
.navbar-nav {
    @include margin(0 1rem);
    li {
        text-align: left;
        @include font(22px);
        font-family: Open Sans;
        font-weight: normal;
        letter-spacing: 0px;
    }
}
.logo {
    width: 123px;
    height: 123px;
    background: transparent url("../../assets/images/logo.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
